/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
}
