<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let monster of monsters">
        <td>{{monster.name}}</td>
        <td><button class="btn btn-sm btn-outline-dark" [routerLink]="[monster.url + '/view']">View</button></td>
        <td><button class="btn btn-sm btn-outline-dark" [routerLink]="[monster.url + '/edit']">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
